---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi,I'm Akash Raj, a full stack developer from India.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Java</li>
        <li>SQL</li>
        <li>Python</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Spring Framework</li>
        
        
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about video editing and content creation. 
      I also love trekking, exploring waterfalls, and sharing engaging stories through my work.
      An unusual hobby of mine is curating video clips to craft compelling narratives, a skill I developed through freelance video editing.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
